.about {
    position: relative;
    margin: 36px;
}

.about .card {
    align-items: center;
    width: 40%;
    margin: 36px 36px;
}

@media (max-width: 760px) {
    .about .card {
        width: 80%;
        word-break: break-word;
    }
}