.home {
    margin: 36px;
}

.home .tagline {
    margin-top: 96px;
    padding: 36px 96px;
}

.home .tagline h1 {
    font-size: 96px;
}

.home .tagline h5 {
    padding: 0 4px;
    font-size: 24px;
    display: inline-block;
    border-right: 2px solid rgba(220, 220, 220);
    animation: blinkTextCursor 750ms steps(20) infinite normal;
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(220, 220, 220);
    }

    to {
        border-right-color: transparent;
    }
}

@media (max-width: 760px) {
    .home .tagline {
        margin-top: 0;
        padding: 18px 18px;
    }

    .home .tagline h1 {
        font-size: 48px;
    }
    .home .tagline h5 {
        font-size: 18px;
    }
}