.pageNav ul {
    height: 40px;
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
    justify-content: center;
}

.pageNav button {
    height: 100%;
    background-color: transparent;
    border: 2px solid rgb(150, 150, 150);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNav .leftButton {
    padding-right: 10px;
}

.pageNav .rightButton {
    padding-left: 10px;
}

.pageNav svg {
    display: inline-block;
}

.pageNav .buttonText {
    display: inline-block;
    text-align: center;
}

.title {
    height: 100%;
    width: 60vw;
    border-top: 2px solid rgb(150, 150, 150);
    border-bottom: 2px solid rgb(150, 150, 150);
    text-align: center;
}

.title h3 {
    position: relative;
    top: 6px;
}

@media (max-width: 760px) {
    .pageNav ul {
        height: 80px;
    }
    .title {
        line-height: 60px;
        width: 55vw;
    }
    .title h3 {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }
    .pageNav button {
        flex-direction: column;
    }
    .pageNav .leftButton {
        padding: 0 10px;
    }

    .pageNav .rightButton {
        padding: 0 10px;
    }
}