.about {
    margin: 36px;
}

section {
    border: 2px solid;
    border-radius: 20px;
    padding: 24px;
    line-height: 22px;
}

#section1 {
    width: 40%;
    border-color: rgb(59, 255, 229)
}

#section2 {
    width: 40%;
    border-color: rgb(97, 255, 92);
}

#section3 {
    width: 40%;
    border-color: rgb(193, 70, 255);
}
#section3 ul{
    list-style-type: "- ";
}

