/* Header */
.header {
    padding: 18px;
}
.header img {
    display: inline;
    position: relative;
    width: 60px;
    height: 40px;
    margin-right: 20px;
    top: 8px;
}
.header h1 {
    display: inline;
    font-weight: bold;
}
.header hr {
    position: relative;
    top: 24px;
}