* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  color: rgb(220, 220, 220);
}

* a {
  color: rgb(75, 156, 255);
}

/* index */
body {
  margin: 18px;
  background-color: rgb(39, 39, 39);
  background: radial-gradient(circle at center, rgb(59, 59, 59), rgb(39, 39, 39));
}