/* NavBar */
nav {
    margin: 18px;
    top: 0;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

nav li {
    float: left;
}

nav ul li .link {
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

nav li .link:hover {
    background-color: rgb(50, 50, 50);
}

nav li .active {
    position: relative;
    left: 0;
    bottom: 2px;
    height: 2px;
    background-color: rgb(50, 156, 255);
    animation-name: expand;
    animation-duration: .75s;
    animation-timing-function: cubic-bezier(0, .67, .2, .83);
}

/* The animation code */
@keyframes expand {
    from {
        width: 0%;
        left: 50%;
    }

    to {
        width: 100%;
        left: 0%;
    }
}